extends layout

block content
  .grid-container.centered
      .grid-100
        .contained
          .grid-100
            .heading
              h1 Pointless Youtube Search Engine
              form
                label(for='search') Type a search term&nbsp;&nbsp;
                input#search(type='search', name='search')
                &nbsp;
                input#submit(type='submit', value='Search')
          ul#tubeTest
  #map
