extends layout

block content
  .grid-container.centered
      .grid-100
        .contained
          .grid-100
            .heading
              h1 Pointless Youtube Search Engine
              form
                label(for='search') Type a search term&nbsp;&nbsp;
                input#search(type='search', name='search')
                &nbsp;
                input#submit(type='submit', value='Search')
                select#selection
                  option(value="relevance") Relevance
                  option(value="date") Date
                  option(value="rating") Rating
                  option(value="title") Title
          ul#tubeTest
  &nbsp;
  .mapcontainer
    h1 I live here
    #map
  &nbsp;
  a.twitter-timeline(href="https://twitter.com/youcannotbeatus" data-width="200" data-height="200") Tweets by @youcannotbeatus
